<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
<% }) %>
<% with (scripts) { %>
  <% [].concat(jasmine, vendor, helpers, src, specs, reporters, start).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>

<!-- Make sure jasmine.Clock.useMock isn't overridden by any other script -->
<script>
  (function() {
    jasmine.Clock.useMock();
  })();
</script>

</head>
<body>
  <div id="fixtures" style="display:none;">

    <div fixture="empty"></div>

    <div fixture="name" contents="name"></div>

    <div fixture="age" contents="age"></div>

    <div fixture="message" bound-classes="readState" contents="text"></div>

    <div fixture="friends" loop="friends">
      <div contents="name"></div>
    </div>

  </div>
</body>
</html>
